<ion-view view-title="Snappy">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="logout()">
      Log Out
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button" ng-click="mapit()">
      Snaptivity
    </button>
  </ion-nav-buttons>
    <ion-content id="homeView" class="has-footer">

      <div class="list">
        <div class="messageTiles" ng-repeat="image in collection | orderObjectBy: 'timeMarker' : true">
          <!-- <div class="snapBox"></div> -->
          <div on-hold="imageHeld(image)" on-release="imageReleased()" on-swipe-right="sendTextSwipe(image)" ng-class="image.disabled ? 'disabledSnap item item-icon-left snap' : 'activeSnap item item-icon-left snap'">
            <i ng-show="selectedImage === image && !image.disabled" class="icon">{{counter}}</i>
            <h2 class="messageNameDislay">{{image.senderName}}</h2>
          </div>
        </div>
      </div>

      <div id="noMessagesTag" class="verticalcenter" ng-show="collection === null">
        <h4>Nothing to see here...</h4>
      </div>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar-stable" id="snapFooter">
        <div class="title" id="snapButton">
          <i id="cameraButton" on-hold="camPressed()" on-release="camReleased()" ng-click="picture()" class="icon ion-ios-camera"></i>
        </div>
      </ion-footer-bar>
</ion-view>
