<ion-popover-view>
  <ion-content scroll="false">
    <div class="list">
      <div class="item item-icon-left" ng-click="viewFriendsPressed()">
        <i class="icon ion-ios-people"></i>
        <h2>View Friends</h2>
      </div>
      <div class="item item-icon-left" ng-click="addFriendPressed()">
        <i class="icon ion-person-add"></i>
        <h2>Add Friend</h2>
      </div>
      <div class="item item-icon-left" ng-click="mapit()">
        <i class="icon ion-map"></i>
        <h2>Snaptivity</h2>
      </div>
      <div class="item item-icon-left" ng-click="logout()">
        <i class="icon ion-log-out"></i>
        <h2>Log Out</h2>
      </div>
    </div>
  </ion-content>
</ion-popover-view>
