<ion-view view-title="Create New Account">
  <ion-nav-buttons side="right">
    <button class="button" ng-click="loginPressed()">
      Log In
    </button>
  </ion-nav-buttons>
  <ion-content id="registerView" scroll="false">  

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="register.email">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="register.password">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="Full Name" ng-model="register.fullName">
        </label>
      </div>

      <!-- <img id="profileImageDisplay" class="center" ng-show="profilePicture" ng-src="{{profilePicture}}"> -->
      <img id="profileImageDisplay" class="center" ng-src="{{profilePicture && profilePicture || 'img/NoUser.png'}}">
      <div id="pictureButtons" class="center">
        <a id="choosePictureButton" ng-click='getProfilePicture()'>
          <button class="button button-dark">
            Choose Photo
          </button>
        </a>
        <a id="takePictureButton" ng-click='takeProfilePicture()'>
          <button class="button button-dark">
            Take Photo
          </button>
        </a>
      </div>
      <div id="registerButtonContainer" class="center"
        <a id="registerButton" ng-click='registerPressed()'>
          <button class="button button-dark">
            Register
          </button>
        </a>
      </div>

    </ion-content>
</ion-view>
