<ion-view view-title="Send Picture">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="goHome()">
      Home
    </button>
  </ion-nav-buttons>
  <ion-content id="sendSnapView">

    <canvas id='drawCanvas' width='375' height='490' style='border: 1px solid black;'></canvas>
    <div class='button-bar'>
      <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
      <!-- <a class='button button-balanced' ng-click='saveCanvas()'>Save</a> -->
    </div>
    <br>

    <button class="button icon ion-edit" color-picker ng-model="testColors.first" modal-title="Choose a color" color-box="{{testColors.first}}">
        <!-- {{ testColors.first || 'Choose a color' }} -->
    </button>

    <center>
      <multiselect
        header-text="Select Recipients"
        items="userList"
        text-property="fullName"
        value-property="uid"
        is-translate="false"
        text="Text default multiselect"
        modal-template-url="lib/ionic-multiselect/dist/templates/modal-template.html"
        template-url="lib/ionic-multiselect/dist/templates/item-template.html"
        note-text="Note Text"
        value-changed="onValueChanged(value)">
      </multiselect>
    </center>

  </ion-content>
</ion-view>
